* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

#ui {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.disabled {
    display: none !important;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: #111111;
    color: white;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}